/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define SYM    1
#define SYM_2  2
#define FNC    3
#define FNC_2  4
#define NUMPAD 5

&mt {
    tapping-term-ms = <250>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <80>;
};

&lt {
    require-prior-idle-ms = <100>;
};

&sk {
    release-after-ms = <3000>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo-term = <50>;
        require-prior-idle-ms = <80>;

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
            layers = <QWERTY SYM SYM_2 FNC FNC_2 NUMPAD>;
            require-prior-idle-ms = <0>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <21 22>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <22 23>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <23 24>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        to_default {
            bindings = <&to QWERTY>;
            key-positions = <0 9>;
            layers = <SYM SYM_2 FNC FNC_2 NUMPAD>;
        };

        alt_quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <5 6>;
            layers = <QWERTY>;
        };

        numpad {
            bindings = <&to NUMPAD>;
            key-positions = <7 8 9>;
            layers = <QWERTY>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <3 2>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <6 7>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        settings {
            bindings = <&to FNC_2>;
            key-positions = <0 1 2>;
            layers = <QWERTY>;
        };

        improve_prompt {
            bindings = <&llm_prompt>;
            key-positions = <30 31>;
            layers = <QWERTY>;
            require-prior-idle-ms = <150>;
        };

        alt_ret {
            bindings = <&kp RET>;
            key-positions = <14 13>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <29 28>;
            layers = <QWERTY>;
        };

        alt_tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        alt_semicolon {
            bindings = <&kp SEMI>;
            key-positions = <3 4>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        studio_unlock {
            bindings = <&studio_unlock>;
            key-positions = <20 10 0>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        sym_once {
            bindings = <&sk SYM>;
            key-positions = <20 21>;
            layers = <QWERTY>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <24 25>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        redo {
            bindings = <&kp LS(LC(Z))>;
            key-positions = <25 26>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        save {
            bindings = <&kp LC(S)>;
            key-positions = <1 2>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        word_backspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <4 5>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };

        word_delete {
            bindings = <&kp LC(DELETE)>;
            key-positions = <14 15>;
            layers = <QWERTY SYM SYM_2 FNC>;
        };
    };

    macros {
        llm_prompt: llm_prompt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&kp LS(RET)>
                , <&kp I &kp M &kp P &kp R &kp O &kp V &kp E>
                , <&kp SPACE>
                , <&kp T &kp H &kp I &kp S>
                , <&kp SPACE>
                , <&kp T &kp E &kp X &kp T>
                , <&kp SPACE>
                , <&kp A &kp N &kp D>
                , <&kp SPACE>
                , <&kp M &kp A &kp K &kp E>
                , <&kp SPACE>
                , <&kp I &kp T>
                , <&kp SPACE>
                , <&kp C &kp O &kp N &kp C &kp I &kp S &kp E>
                , <&kp LC(RET)>
                ;
        };
    };

    behaviors {
        backspace_mod: backspace_mod {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&lt SYM_2 BACKSPACE>, <&kp BACKSPACE>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            hold-trigger-on-release;
            display-name = "Home Row Mod Left";
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            hold-trigger-on-release;
            display-name = "Home Row Mod Right";
        };

        hmr_ralt: home_row_mod_right_ralt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 17 19>;
            hold-trigger-on-release;
            display-name = "Home Row Mod Right AltGr";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_base {
            display-name = "Colemak";
            bindings = <
&kp Q            &kp W           &kp F        &kp P             &kp B        &kp J      &kp L              &kp U        &kp Y            &mt UNDER MINUS
&hml LEFT_META A  &hml LEFT_ALT R  &hml LCTRL S  &hml LEFT_SHIFT T  &kp G        &kp M      &hmr RIGHT_SHIFT N  &hmr RCTRL E  &hmr_ralt RALT I  &hmr RIGHT_GUI O
&lt SYM_2 Z          &kp X           &kp C        &kp D             &kp V        &kp SLASH  &kp K              &kp H        &mt COLON COMMA  &lt SYM_2 DOT
                                              &mo SYM           &kp SPACE    &mo FNC    &lt SYM RET
            >;
        };

        symbol {
            display-name = "Symbols";
            bindings = <
&kp HASH            &kp AT              &kp LESS_THAN         &kp GREATER_THAN       &kp TILDE           &kp MINUS  &kp LEFT_BRACE                    &kp RIGHT_BRACE              &kp GRAVE                   &kp COLON
&mt LEFT_GUI CARET  &mt LEFT_ALT EQUAL  &mt LCTRL UNDERSCORE  &mt LEFT_SHIFT DOLLAR  &kp ASTERISK        &kp PLUS   &mt RIGHT_SHIFT LEFT_PARENTHESIS  &mt RCTRL RIGHT_PARENTHESIS  &mt RIGHT_ALT LEFT_BRACKET  &mt RIGHT_GUI RIGHT_BRACKET
&kp BACKSLASH       &kp PIPE            &kp PRCNT             &kp SEMI               &kp SINGLE_QUOTE    &kp DQT    &kp EXCL                          &kp AMPS                     &kp UNDER                   &kp SLASH
                                                              &trans                 &trans              &trans     &trans
            >;
        };

        number-and-fn {
            display-name = "Numbers & Fn";
            bindings = <
&kp N9             &kp N5       &kp N0         &kp NUMBER_3       &kp N7    &kp N6  &kp NUMBER_2          &kp NUMBER_1       &kp NUMBER_4             &kp N8
&mt LEFT_GUI EXCL  &mt LALT AT  &mt LCTRL SQT  &mt LEFT_SHIFT F4  &trans    &trans  &mt RIGHT_SHIFT HOME  &mt RCTRL PAGE_UP  &mt RIGHT_ALT PAGE_DOWN  &mt RIGHT_GUI END
&kp F1             &kp F2       &kp F3         &kp F4             &kp F5    &kp F6  &kp F7                &kp F8             &kp F11                  &kp F12
                                               &trans             &trans    &trans  &trans
            >;
        };

        arrows_wm {
            display-name = "Arrows / WM";
            bindings = <
&to QWERTY    &kp LG(LS(N5))  &kp UP_ARROW  &kp LG(LS(NUMBER_3))  &trans         &kp LG(LS(NUMBER_6))  &kp LG(LS(NUMBER_2))  &kp LG(LS(NUMBER_1))  &kp LG(LS(NUMBER_4))  &kp LG(LS(N8))
&kp F13  &kp LEFT        &kp DOWN      &kp RIGHT             &kp F14        &kp LG(NUMBER_6)      &kp LG(NUMBER_2)      &kp LG(NUMBER_1)      &kp LG(NUMBER_4)      &kp LG(N8)
&kp F15  &mmv MOVE_UP     &mmv MOVE_LEFT  &mmv MOVE_DOWN       &kp F16        &kp N0                &msc SCRL_UP          &msc SCRL_DOWN        &mwh WH_UP            &mwh WH_DOWN
                                       &mmv MOVE_RIGHT &key_repeat    &trans                &trans
            >;
        };

        settings {
            display-name = "Settings";
            bindings = <
&to QWERTY  &none  &none       &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &none  &none  &none
&kp C_PLAY_PAUSE  &kp C_PREVIOUS_SONG  &kp C_NEXT_SONG  &kp C_VOL_UP  &kp C_VOL_DN  &kp C_MUTE  &none  &none  &none  &none
&none  &none  &bt BT_CLR  &none         &tog QWERTY          &to QWERTY         &none         &none  &none  &studio_unlock
                          &none         &none           &none         &none
            >;
        };

        numpad {
            display-name = "Numpad";
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp KP_DIVIDE  &kp N7  &kp N8  &kp N9  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans    &trans         &kp N4  &kp N5  &kp N6  &kp KP_MINUS
&trans  &trans  &trans  &trans  &trans    &trans         &kp N1  &kp N2  &kp N3  &kp KP_PLUS
                        &to QWERTY  &trans    &trans         &kp N0
            >;
        };
    };
};
